.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    background: var(--ifm-color-emphasis-200);
  }
  
  .featureSvg {
    height: 150px;
    width: 150px;
  }
  
  .features a {
    color: var(--ifm-color-emphasis-800);
    text-decoration: none;
  }
  
  .features a:hover button {
    color: var(--ifm-color-emphasis-100);
    background: var(--ifm-color-primary-light);
  }
